
body {
  width: 100% ;
  height: 100% ;
  max-width:1920px;
  margin: 0;
  padding: 0;
  font-family: 'arial', serif;
  overflow-x: hidden;
  zoom:90%;
}
@media only screen
and (max-device-width: 414px)
and (orientation: portrait) {
    body {
        zoom: 150%;
    }
    .skimap{
      width: 100%;
    }
    .skimg{
      width: 110%;
      height:100%;
      border: 2px solid rgba(64, 71, 70, 0.54) ;
    }
  }
.nav {
  background-color:#ffffff;
  color: #000000;
  list-style: none;
  text-align: right;
  padding: 20px 0 20px 0;
  position: fixed;
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

.nav  li {
  display: inline-block;
  padding-right: 50px;
  font-size : 12px;
  }
  .nav  li  a {
    text-decoration: none;
    color: #000000;
  }
  .nav  li a:hover {
    color:#c1c1c1 ;
  }
.logo {
  color: #000000;
  float:left;
  font-size: 16px;
  font-weight: bold;
  padding-left: 30px;
}
.logo  a {
  text-decoration:none;
  color:#000000
}
.banner{
  width:100%;
  display:block;
  height:100%
}
.banner  .banner-image{
  width:100%;
  display:inline-block;
}
.skimap{
  max-width: 1400px;
  padding: 140px 140px;
}
.skimg{
  width: 110%;
  height:100%;
  border: 2px solid rgba(64, 71, 70, 0.54) ;
}
div.img {
    margin: 85px 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
    background-color: rgba(102, 102, 102, 0.7)
}

div.img:hover {
    border: 1px solid #777;

}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}
h3{

  color:#c1c1c1;
  padding-right: 10px;
}
footer{
  text-align: center;
}
.Contacts{
  border: 1px solid black;
  width: 30%;
  height: 200px;
  margin-left:35%;
  min-width: 200px;
}

.Contacts > p{
  text-align: center;
}
.Contacts > h2{
  text-align: center;
}
* {
    box-sizing: border-box;
}

/* Create three columns of equal width */
.columns {
    float: left;
    width: 33.3%;
    padding: 8px;
}

/* Style the list */
.price {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    margin-top: 41%;
}

/* Add shadows on hover */
.price:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2);
    opacity: 0.9;
}


.price .header {
    background-color: #c1c1c1;
    color: white;
    font-size: 25px;
}


.price li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
    background-color: #c1c1c1;

}


.price .grey {
    background-color: #eee;
    font-size: 20px;
}

.button {
    background-color: #ABA8A7;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
}

@media only screen and (max-width: 600px) {
    .columns {
        width: 100%;
    }
  }

.partners{
width:100%;
height:20%;
}
.partners h1{
    text-align: center;
  }
.barteam{

}
.background{
  opacity: 0.5;
}
