body{
  background-image: url("login.png");
}
#frm{
  border: solid gray 1px;
  width: 20%;
  border-radius: 5px;
  margin: 100px auto;
  background: white;
  padding: 50px;
  box-shadow:  0 8px 12px 0 rgba(5, 5, 5, 0.7);
}
#btn{
  color: #fff;
  background: #334ab7;
  padding: 5px;
  margin-left: 2%;
  border: none;
  height: 50px;
  width: 100%;

}
#btn:hover{
  background: #337ab7;
  box-shadow: 0 8px 12px 0 rgba(5, 5, 5, 0.4);

}
input{
  height: 30px;
  width: 105%;
  border: 3px solid rgba(88, 106, 130, 0.5);
  border-right: none;
  border-left: none;
}
